nav {
  margin-left: 30px;
  margin-bottom: 20px;
}

a {
  color: cornflowerblue;
}

ul {
  padding: 0;
}

.ID_list {
  list-style: none;
}

.name_list {
  margin-right: 20px;
}

.detail, .value {
  margin: 0;
  padding: 0;
  width: 100px;
}

.detail_label, .value_value {
  margin: 0;
  text-align: right;
}

.detail_label {
  font-weight: 600;
}
